INI_DATE=14/01/2019
END_DATE=14/01/2019
# in order to run only one date, ini_date and end_date must be the same
#tstep epochs only by 50 s to be more quick

TSTEP=50

# Configuration file of RECEIVER ANALYSIS
#----------------------------------------
# LOS_FILE AND POS_FILE NAMES
#-----------------------------
SATSTAT_FILE = SAT_STAT_Y19D014_G123_50s.dat

# SATELLITE ANALYSES SELECTION
#-----------------------------
PLOT_SATMON = 1  
